@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Mate+SC&display=swap');

body {
  font-family: 'Mate', serif;
}

header {
  background-color: #26A7BA;
  font-size: 1.3rem;
}

header #logo {
  font-size: 1.5rem;
  font-family: 'Cinzel Decorative', cursive;
}

header #logo:hover {
  color: white;
}

.profile {
  border-top: 1px solid slategray;
  font-size: 20px;
  text-align: left;
  padding-top: 7px;
  padding-left: 8rem;
}

.nav-tabs {
  font-size: 1.5rem;
}

#myTabContent {
  display: flex;
  align-items: center;
}

#myTabContent .tab-pane {
  width: 300px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

.album .container {
  padding-right: 0px;
  padding-left: 0px;
}

.album .row .folder {
  width:170px;
  height: 450px;
}

.album .row .folder li button {
  width: 150px;
}

.album .row .images {
  width: 1018px;
  display: flex;
  flex-wrap: wrap;
}

.album .container .card p {
  font-size: 20px;
  text-align: center;
}

.album .container .row .card {
  margin-bottom: 1rem;
}

/* draggable image css */
[draggable="true"] {
  /*
   To prevent user selecting inside the drag source
  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;  
}

/* For drag sources */
.dragging {
  opacity: .25;
}

/* For drop target */
.hover {
  background-color: rgba(0,191,165,.04);
}

/* for bootstrap img*/
.card .image img {
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.card .image img:hover {
    transform: scale(1.1);
}

footer {
  font-family: 'Mate', serif;
  font-size: 1.5rem;
  color: white;
  background-color: #26A7BA;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}